#car {
    width: 300px;
    height: 400px;
}

h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 3px 5px;
  background-color: #1fd8f1;
  border-radius: 5px;
  font-size: 14px;
}

.selected {
  background-color: #000000;
  color: #ffffff;
}

.navbar:hover {
  background-color: #ffffff;
  color: #000;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(175, 220, 228);
  }
  
  td {
    border: 2px dashed rgb(255, 190, 241);
  }
  

div {
    background-color: black;
    
    height: 45px;
    width: 50%;
    align-content: center;

    margin-left: 25%;

}